# Install libraries

In [1]:
!pip3 install pyspark
!pip3 install OTXv2

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 3.0 MB/s eta 0:00:0000:0100:01
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.7 (from pyspark)
  Downloading py4j-0.10.9.7-py2.py3-none-any.whl (200 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 200.5/200.5 kB 4.9 MB/s eta 0:00:00a 0:00:01
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425360 sha256=5cdf76bf1d875e7e55e55f21654d69bbb0f88cf203360ed86b6e656c216434d6
  Stored in directory: /Users/joaopino/Library/Caches/pip/wheels/57/bd/14/ce9e21f2649298678d011fb8f71ed38ee70b42b94fef0be142
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.7 pyspark-3.5.0

[notice] A new release of pip is available: 23.2.1 -> 23.3.2
[notice] To update, run: pip3 install --upgrade pip
Collecting OTXv2
  Downloading OTXv2-1.5.12-py3-none-any.whl (16 kB)
Requirement already satisfied: requests in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from OTXv2) (2.26.0)
Requirement already satisfied: python-dateutil in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from OTXv2) (2.8.2)
Requirement already satisfied: pytz in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from OTXv2) (2021.3)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil->OTXv2) (1.16.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from requests->OTXv2) (1.26.7)
Requirement already satisfied: certifi>=2017.4.17 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from requests->OTXv2) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from requests->OTXv2) (2.0.7)
Requirement already satisfied: idna<4,>=2.5 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from requests->OTXv2) (3.3)
Installing collected packages: OTXv2
Successfully installed OTXv2-1.5.12

[notice] A new release of pip is available: 23.2.1 -> 23.3.2
[notice] To update, run: pip3 install --upgrade pip

In [2]:
!pip3 install httpx

Collecting httpx
  Obtaining dependency information for httpx from https://files.pythonhosted.org/packages/a2/65/6940eeb21dcb2953778a6895281c179efd9100463ff08cb6232bb6480da7/httpx-0.25.2-py3-none-any.whl.metadata
  Downloading httpx-0.25.2-py3-none-any.whl.metadata (6.9 kB)
Collecting anyio (from httpx)
  Obtaining dependency information for anyio from https://files.pythonhosted.org/packages/bf/cd/d6d9bb1dadf73e7af02d18225cbd2c93f8552e13130484f1c8dcfece292b/anyio-4.2.0-py3-none-any.whl.metadata
  Downloading anyio-4.2.0-py3-none-any.whl.metadata (4.6 kB)
Requirement already satisfied: certifi in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from httpx) (2021.10.8)
Collecting httpcore==1.* (from httpx)
  Obtaining dependency information for httpcore==1.* from https://files.pythonhosted.org/packages/56/ba/78b0a99c4da0ff8b0f59defa2f13ca4668189b134bd9840b6202a93d9a0f/httpcore-1.0.2-py3-none-any.whl.metadata
  Downloading httpcore-1.0.2-py3-none-any.whl.metadata (20 kB)
Requirement already satisfied: idna in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from httpx) (3.3)
Collecting sniffio (from httpx)
  Downloading sniffio-1.3.0-py3-none-any.whl (10 kB)
Collecting h11<0.15,>=0.13 (from httpcore==1.*->httpx)
  Downloading h11-0.14.0-py3-none-any.whl (58 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 58.3/58.3 kB 1.7 MB/s eta 0:00:00
Requirement already satisfied: exceptiongroup>=1.0.2 in /Users/joaopino/Library/Python/3.9/lib/python/site-packages (from anyio->httpx) (1.1.3)
Requirement already satisfied: typing-extensions>=4.1 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from anyio->httpx) (4.5.0)
Downloading httpx-0.25.2-py3-none-any.whl (74 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 75.0/75.0 kB 2.2 MB/s eta 0:00:00
Downloading httpcore-1.0.2-py3-none-any.whl (76 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 76.9/76.9 kB 1.6 MB/s eta 0:00:00ta 0:00:01
Downloading anyio-4.2.0-py3-none-any.whl (85 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 85.5/85.5 kB 2.8 MB/s eta 0:00:00
Installing collected packages: sniffio, h11, httpcore, anyio, httpx
Successfully installed anyio-4.2.0 h11-0.14.0 httpcore-1.0.2 httpx-0.25.2 sniffio-1.3.0

[notice] A new release of pip is available: 23.2.1 -> 23.3.2
[notice] To update, run: pip3 install --upgrade pip

# Imports

In [3]:
# Access and see the db file
import sqlite3
import pandas as pd
from pandas import json_normalize
# PySpark
import pyspark
from pyspark.sql import SparkSession
# Drive
from OTXv2 import  OTXv2, IndicatorTypes
from tqdm import tqdm

import json

# Get all the pulses

In [ ]:
key = "b33bf61f62c7e7da86bb84481591a0844630323831ec210fd8c2e2efbfdc131a"
otx = OTXv2(key)

pulses = otx.getall()

In [ ]:
json_normalize(pulses)

In [ ]:
json_normalize(pulses[1]["indicators"])

In [ ]:
json_normalize(pulses[1]["indicators"][1])

In [3]:
from pandas import json_normalize
# Get indicator IDs, names and created_dates
indicator_ids = list()
indicator_names = list()
created_date_list = list()

for pulse in pulses:
    for indicator in pulse["indicators"]:
        if indicator["type"] == "IPv4":
            indicator_ids.append(indicator["id"])
            created_date_list.append(indicator["created"])
            indicator_names.append(indicator["indicator"])
        
import gc
del pulses
gc.collect()

# Get all the indicator ids and created dates
print(len(indicator_ids))
print(len(created_date_list))
print(len(indicator_names))

3557
3557
3557

In [5]:
countries = list()
correct_dates = list()
rows = list()

for i in tqdm(range(0, len(indicator_ids))):
    try :
        indicator_details = otx.get_indicator_details_full(IndicatorTypes.IPv4, indicator_names[i])
    except:
        print("Error with GET")
        countries.append("Spain")
        correct_dates.append("2022-01-01")
    
    try: name = indicator_details["geo"]["country_name"]
    except:
        print("Error in adding country name")
        name = "Spain"
    
    for url_info in indicator_details["url_list"]["url_list"]:
        row = list()
        # ADD ID
        try: row.append(indicator_ids[i])
        except: 
            print("Error in adding indicator id")
            row.append(indicator_ids[i-1])
        # ADD Country name
        row.append(name)
        # ADD date
        try: row.append(url_info["date"][:10])
        except: 
            print("Error in adding date")
            row.append("2022-01-01")
        rows.append(row)

  3%|▎         | 90/3557 [00:56<45:19,  1.27it/s]

Error in adding country name

  4%|▍         | 139/3557 [02:49<2:09:12,  2.27s/it]

Error in adding country name

  7%|▋         | 240/3557 [04:35<39:16,  1.41it/s]

Error in adding country name

  8%|▊         | 289/3557 [05:10<30:46,  1.77it/s]

Error in adding country name

 11%|█         | 390/3557 [08:35<2:02:38,  2.32s/it]

Error in adding country name

 12%|█▏        | 439/3557 [09:14<31:54,  1.63it/s]

Error in adding country name

 15%|█▌        | 540/3557 [10:17<33:50,  1.49it/s]

Error in adding country name

 17%|█▋        | 589/3557 [10:55<41:58,  1.18it/s]

Error in adding country name

 19%|█▉        | 688/3557 [12:05<34:22,  1.39it/s]

Error in adding country name

 21%|██        | 737/3557 [13:46<1:25:30,  1.82s/it]

Error in adding country name

 24%|██▎       | 836/3557 [15:50<41:21,  1.10it/s]

Error in adding country name

 25%|██▍       | 885/3557 [16:35<38:07,  1.17it/s]

Error in adding country name

 28%|██▊       | 986/3557 [21:07<2:43:00,  3.80s/it]

Error in adding country name

 29%|██▉       | 1035/3557 [21:48<43:12,  1.03s/it]

Error in adding country name

 32%|███▏      | 1134/3557 [22:55<30:06,  1.34it/s]

Error in adding country name

 33%|███▎      | 1183/3557 [24:39<1:24:01,  2.12s/it]

Error in adding country name

 36%|███▌      | 1282/3557 [26:01<28:15,  1.34it/s]

Error in adding country name

 37%|███▋      | 1331/3557 [26:49<28:32,  1.30it/s]

Error in adding country name

 40%|████      | 1430/3557 [28:03<24:06,  1.47it/s]

Error in adding country name

 42%|████▏     | 1477/3557 [28:39<25:58,  1.33it/s]

Error in adding country name

 44%|████▍     | 1572/3557 [32:48<1:41:30,  3.07s/it]

Error in adding country name

 48%|████▊     | 1703/3557 [34:39<31:48,  1.03s/it]

Error in adding country name

 52%|█████▏    | 1834/3557 [37:32<25:14,  1.14it/s]

Error in adding country name

 53%|█████▎    | 1883/3557 [38:30<58:59,  2.11s/it]

Error in adding country name

 59%|█████▉    | 2097/3557 [49:12<4:31:37, 11.16s/it]

Error with GET

100%|██████████| 3557/3557 [1:47:04<00:00,  1.81s/it]

In [6]:
from pyspark.sql import SparkSession, Row
from pyspark.sql.types import StructType,StructField, StringType, IntegerType, DateType

spark = SparkSession.builder.appName('sparkdf').getOrCreate() 

schema = StructType([ \
    StructField("ID",StringType(),True), \
    StructField("Indicator",StringType(),True), \
    StructField("Date",StringType(),True), \
  ])

dataframe = spark.createDataFrame(rows, schema=schema) 

dataframe.printSchema()

dataframe.show()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/12/20 04:19:11 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

root
 |-- ID: string (nullable = true)
 |-- Indicator: string (nullable = true)
 |-- Date: string (nullable = true)

+----------+--------------------+----------+
|        ID|           Indicator|      Date|
+----------+--------------------+----------+
|3623709663|United States of ...|2023-01-31|
|3623709663|United States of ...|2023-01-31|
|3623709663|United States of ...|2022-03-30|
|3623709664|United States of ...|2023-09-23|
|3623709664|United States of ...|2023-01-31|
|3623709664|United States of ...|2023-01-31|
|3623709665|United States of ...|2023-01-31|
|3623709665|United States of ...|2023-01-31|
|3623709666|              Cyprus|2023-12-19|
|3623709666|              Cyprus|2023-01-31|
|3623709666|              Cyprus|2023-01-31|
|3623709666|              Cyprus|2023-01-31|
|3623709666|              Cyprus|2018-01-03|
|3623709667|United States of ...|2023-03-22|
|3623709667|United States of ...|2023-01-31|
|3623709667|United States of ...|2023-01-31|
|3623709668|United States of ...|2023-03-19|
|3623709668|United States of ...|2023-01-31|
|3623709668|United States of ...|2023-01-31|
|3623866944|             Tunisia|2023-02-01|
+----------+--------------------+----------+
only showing top 20 rows

In [ ]:
print((dataframe.count(), len(dataframe.columns)))
dataframe.toPandas().to_csv('/Users/joaopino/Desktop/OST/OCTIAP/data/mycsv.csv')

In [65]:
# A JSON dataset is pointed to by path.
# The path can be either a single text file or a directory storing text files
path = "/Users/joaopino/Desktop/OST/OCTIAP/data/mycsv.csv"

dataframe_df = pd.read_csv(path)

In [66]:
import pandas as pd
import datetime as dt

# Assuming df is your DataFrame with 'date' and 'country' columns
# If your 'date' column is not in datetime format, you might want to convert it first
dataframe_df['Date'] = pd.to_datetime(dataframe_df['Date'])

# Group by 'date' and 'country', and then count occurrences
dataframe_df['occurrences'] = dataframe_df.groupby(['Date', 'Indicator'])['Indicator'].transform('count')

# If you want to remove duplicates and keep only unique combinations of date and country
dataframe_df.drop_duplicates(['Date', 'Indicator'], inplace=True)

# Display the DataFrame

dataframe_df['Date'] = pd.to_datetime(dataframe_df['Date'])
dataframe_df['Date']=dataframe_df['Date'].map(dt.datetime.toordinal)

dataframe_df
#738551 247

       Unnamed: 0          ID                 Indicator    Date  occurrences
0               0  3623709663  United States of America  738551          247
2               2  3623709663  United States of America  738244           13
3               3  3623709664  United States of America  738786           13
8               8  3623709666                    Cyprus  738873           13
9               9  3623709666                    Cyprus  738551           39
...           ...         ...                       ...     ...          ...
17265       17265     2141615                   Ukraine  736940            1
17266       17266     2141615                   Ukraine  736917            1
17267       17267     2141615                   Ukraine  736860            1
17268       17268     2141615                   Ukraine  736859            1
17269       17269     2141615                   Ukraine  736354            1

[1402 rows x 5 columns]

In [70]:
def create_mapping_dict(dataframe, column):
    mapping_dict = {}
    
    unique_values = dataframe[column].unique()
    mapping_dict.update({value: index + 1 for index, value in enumerate(unique_values)})

    return mapping_dict

dictt = create_mapping_dict(dataframe_df,"Indicator")
print(dictt)

{'United States of America': 1, 'Cyprus': 2, 'Tunisia': 3, 'India': 4, 'Australia': 5, 'Malaysia': 6, 'United Kingdom of Great Britain and Northern Ireland': 7, 'Singapore': 8, 'Korea, Republic of': 9, 'Italy': 10, 'Egypt': 11, 'Germany': 12, 'Thailand': 13, 'Canada': 14, 'Qatar': 15, 'Argentina': 16, 'Israel': 17, 'Angola': 18, 'Algeria': 19, 'Venezuela, Bolivarian Republic of': 20, 'Sweden': 21, 'France': 22, 'Russian Federation': 23, 'Spain': 24, 'Saudi Arabia': 25, 'China': 26, 'Portugal': 27, 'Switzerland': 28, 'United Arab Emirates': 29, 'Greece': 30, 'Denmark': 31, 'Poland': 32, 'Netherlands': 33, 'Philippines': 34, 'Morocco': 35, 'Japan': 36, 'Iran, Islamic Republic of': 37, 'Lithuania': 38, 'Brazil': 39, 'Czechia': 40, 'Romania': 41, 'Bulgaria': 42, 'Moldova, Republic of': 43, 'South Africa': 44, 'Iraq': 45, 'Serbia': 46, 'Pakistan': 47, 'Indonesia': 48, 'Croatia': 49, 'Slovakia': 50, 'Taiwan': 51, 'Kazakhstan': 52, 'Türkiye': 53, 'Ukraine': 54, 'Austria': 55, 'Luxembourg': 56, 'Kuwait': 57, 'Slovenia': 58, 'Armenia': 59, 'Georgia': 60, 'Norway': 61, 'Jordan': 62, 'Namibia': 63, 'Libya': 64, 'Rwanda': 65, 'Cameroon': 66, 'Kenya': 67, 'Nigeria': 68, 'Zambia': 69, 'Azerbaijan': 70, 'Hungary': 71, 'Belgium': 72, 'Bangladesh': 73, 'Hong Kong': 74, 'Nepal': 75, 'Sri Lanka': 76, 'Colombia': 77, 'Dominican Republic': 78, 'Maldives': 79, 'Bahrain': 80, 'Estonia': 81, 'Mexico': 82, 'New Zealand': 83}

In [71]:
dataframe_df.replace(dictt, inplace=True)
dataframe_df

       Unnamed: 0          ID  Indicator    Date  occurrences
0               0  3623709663          1  738551          247
2               2  3623709663          1  738244           13
3               3  3623709664          1  738786           13
8               8  3623709666          2  738873           13
9               9  3623709666          2  738551           39
...           ...         ...        ...     ...          ...
17265       17265     2141615         54  736940            1
17266       17266     2141615         54  736917            1
17267       17267     2141615         54  736860            1
17268       17268     2141615         54  736859            1
17269       17269     2141615         54  736354            1

[1402 rows x 5 columns]

### Schema

In [72]:
from pyspark.sql import SparkSession
#Create PySpark SparkSession
spark = SparkSession.builder \
    .master("local[1]") \
    .appName("SparkByExamples.com") \
    .getOrCreate()
#Create PySpark DataFrame from Pandas
sparkDF=spark.createDataFrame(dataframe_df) 
sparkDF.printSchema()
sparkDF.show()

print(type(sparkDF))

root
 |-- Unnamed: 0: long (nullable = true)
 |-- ID: long (nullable = true)
 |-- Indicator: long (nullable = true)
 |-- Date: long (nullable = true)
 |-- occurrences: long (nullable = true)

+----------+----------+---------+------+-----------+
|Unnamed: 0|        ID|Indicator|  Date|occurrences|
+----------+----------+---------+------+-----------+
|         0|3623709663|        1|738551|        247|
|         2|3623709663|        1|738244|         13|
|         3|3623709664|        1|738786|         13|
|         8|3623709666|        2|738873|         13|
|         9|3623709666|        2|738551|         39|
|        12|3623709666|        2|736697|         13|
|        13|3623709667|        1|738601|         13|
|        16|3623709668|        1|738598|         13|
|        19|3623866944|        3|738552|         26|
|        21|3623866944|        3|738551|         39|
|        22|3623866930|        3|738560|         26|
|        26|3600494305|        4|738575|         13|
|        27|3600494305|        4|738508|         91|
|        28|3600494305|        4|738506|         26|
|        29|3600494305|        4|738504|         26|
|        31|3602703413|        4|738600|         13|
|        32|3602703413|        4|738573|         78|
|        33|3602703413|        4|738561|         78|
|        38|3624438678|        5|738589|         52|
|        42|3624438678|        5|738558|         13|
+----------+----------+---------+------+-----------+
only showing top 20 rows

<class 'pyspark.sql.dataframe.DataFrame'>

In [92]:
from pyspark.ml.regression import LinearRegression
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.evaluation import RegressionEvaluator

assembler = VectorAssembler(
    inputCols=["Indicator","Date"],
    outputCol = "Features")

data = assembler.transform(sparkDF)
data = data.select('features', 'occurrences')

lin_reg = LinearRegression(featuresCol='features',
                           labelCol='occurrences',
                           predictionCol='pred_score')
train_data,test_data = data.randomSplit([0.7,0.3])

fit = lin_reg.fit(train_data)

24/01/15 09:34:37 WARN Instrumentation: [0a476cd5] regParam is zero, which might cause numerical instability and overfitting.

In [108]:
test_results = fit.evaluate(test_data) 
  
#Printing Residuals which is the difference between the actua 
#l value and the value predicted by the model (y-ŷ) for any given point 
#test_results.residuals.show(5)


unlabeled_data = test_data.select('features') 
  
predictions = fit.transform(unlabeled_data) 

print("Data")
test_data.show(10)
print("Predictions")
predictions.show(10)

Data
+--------------+-----------+
|      features|occurrences|
+--------------+-----------+
|[1.0,736564.0]|          6|
|[1.0,736568.0]|          2|
|[1.0,736590.0]|          4|
|[1.0,736591.0]|          6|
|[1.0,736853.0]|         10|
|[1.0,736944.0]|          2|
|[1.0,737067.0]|          4|
|[1.0,737280.0]|          1|
|[1.0,737666.0]|         11|
|[1.0,737826.0]|          2|
+--------------+-----------+
only showing top 10 rows

Predictions
+--------------+------------------+
|      features|        pred_score|
+--------------+------------------+
|[1.0,736564.0]| 9.325566020821498|
|[1.0,736568.0]| 9.355915590187578|
|[1.0,736590.0]| 9.522838221695565|
|[1.0,736591.0]| 9.530425614037085|
|[1.0,736853.0]|11.518322407458982|
|[1.0,736944.0]|12.208775110518218|
|[1.0,737067.0]|13.142024368498824|
|[1.0,737280.0]|14.758138937197145|
|[1.0,737666.0]|17.686872380940258|
|[1.0,737826.0]|18.900855155549834|
+--------------+------------------+
only showing top 10 rows

In [88]:
from pyspark.sql.types import StructType, StructField, StringType

columns = ["Indicator","Date"]
data = [("1", "738551")]
schema = StructType([StructField(col, StringType(), True) for col in columns])

# Create a Spark DataFrame
df = spark.createDataFrame(data, schema=schema)

# Show the DataFrame
df.show()

+---------+------+
|Indicator|  Date|
+---------+------+
|        1|738551|
+---------+------+